.container {
  padding: 0 20px;
}

h2 {
  margin-top: 17px;
  cursor: pointer;
  font-weight: 700;
  padding: 10px 0;
  border-bottom: 1px solid #25292d;
  position: relative;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
}

.icon {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  position: absolute;
  top: 11px;
  right: 0;
}

.list li {
  margin-bottom: 10px;
  font-size: 17px;
}

.list li:hover {
  color: #b1141a;
}
/*# sourceMappingURL=style.css.map */