$dark-color:#25292d;
$red-color:#b1141a;

.container {
    padding: 0 20px;
}

h2 {
    margin-top: 17px;
    cursor: pointer;
    font-weight: 700;
    padding: 10px 0;
    border-bottom: 1px solid $dark-color;
    position: relative;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
}

.icon {
    transition: all .2s ease-out;
    position: absolute;
    top: 11px;
    right: 0;
}

.list {


    li {
        margin-bottom: 10px;
        font-size: 17px;

        &:hover {
            color: $red-color;
        }
    }
}